#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
}